# Dependency directories
node_modules/

# Build output directory
dist/

# Environment files
.env

# Editor directories and files
.vscode/
*.swp
*.swo

# Log files
*.log

# Optional: TypeScript cache
*.tsbuildinfo

mikemangione.wordpress*